/* nanylane-css start */

.case--study-page-vv1 {
    background: #ffffff;
}

.mb-40 {
    margin-bottom: 40px !important;
}

.mt-40 {
    margin-top: 40px !important;
}

.mtb-40 {
    margin-bottom: 40px !important;
    margin-top: 40px !important;
}

.case--study-inner-pdvv1 {
    padding-top: 70px;
    padding-bottom: 70px;
}


/* ===================================
   1
=================================== */

.case--study-banner-inner {
    position: relative;
    height: 900px;
    overflow: hidden;
}

ul.case--study-type-innern li .case--study-cat.case-bg-wt {
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
}

.section-title h2.cap-text {
    text-transform: capitalize;
}


/* VIDEO */

.case--study-banner-video {
    position: absolute;
    inset: 0;
}

.case--study-banner-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
    display: block;
}


/* DARK OVERLAY */

.banner-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
}


/* CENTER CONTENT */

.case--study-page-vv1 .section-title h2 {
    font-size: clamp(24px, 4.27vw, 70px);
}

.banner-center {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

.banner-center h1 {
    font-size: clamp(36px, 4.6vw, 82px);
    line-height: 1.2;
    font-weight: 700;
    color: #fff;
    margin-bottom: 25px;
}

.highlight {
    color: #F7A79A;
}

.banner-center p {
    max-width: 905px;
    margin: 0 auto;
    font-size: clamp(14px, 1.3vw, 22px);
    line-height: 1.5;
    color: #fff;
}


/* ===================================
   2
=================================== */

.case--study-about-row .cs-subhead {
    font-size: 22px;
    letter-spacing: 0.2px;
}

.case--study-webscreen-content {
    max-width: 1300px;
    margin: 30px auto 0;
}

.case--study-webscreen-quote-wrap {
    display: flex;
    align-items: flex-start;
    gap: 18px;
    margin-bottom: 40px;
}

.case--study-webscreen-quote-icon {
    flex-shrink: 0;
    margin-top: -10px;
}

.case--study-webscreen-quote-icon svg {
    width: 45px;
    height: 45px;
}

.case--study-about-quote-text {
    margin: 0;
    font-size: 50px;
    line-height: 1.35;
    font-weight: 400;
    color: #9a9a9a;
    max-width: 1080px;
    letter-spacing: -0.02em;
}

.case--study-about-quote-text .font-we-bl,
.case--study-about-quote-text .black_text {
    color: #000;
    font-weight: 700;
}

.case--study-webscreen-testimonial {
    display: flex;
    align-items: center;
    /* margin-left: 67px; */
}

.case--study-webscreen-avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 16px;
}

.case--study-webscreen-testimonial-name {
    font-size: 26px;
    font-weight: 600;
    color: #000;
    line-height: 1.2;
}

.case--study-webscreen-testimonial-role {
    font-size: 18px;
    color: #8a8a8a;
}

.case--study-about-psi-row {
    /* border-top: 1px solid #e8e8e8; */
    margin-top: 80px;
    margin-bottom: 80px;
}

.case--study-about-psi-head {
    margin-bottom: 10px;
}

.case--study-about-psi-num {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.case--study-about-psi-title {
    font-size: 28px;
}

.case--study-about-psi-text {
    font-size: 20px;
    line-height: 1.6;
    color: #9a9a9a;
    margin: 0;
    padding-right: 12px;
}


/* ===== Images ===== */

.case--study-about-img-row {
    margin-bottom: 30px;
}

.case--study-about-img-hero,
.case--study-about-img-split {
    border-radius: 60px;
    overflow: hidden;
}

.case--study-about-img-hero img,
.case--study-about-img-split img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}


/* ===================================
   3
=================================== */

.case--study-brand-heading {
    font-size: clamp(28px, 3.1vw, 48px);
    font-weight: 400;
    color: #808080;
    margin: 0;
}

.case--study-brand-heading .fw-bold {
    font-weight: 700;
}

.case--study-brand-desc {
    font-size: 18px;
    line-height: 1.7;
    color: #9a9a9a;
    max-width: 550px;
    margin-left: auto;
}

.case--study-row-txtvv1 {
    margin-bottom: 80px;
}


/* ===== Logo anatomy ===== */

.case--study-logo-anatomy {
    width: 100%;
    height: 100%;
    margin-bottom: 60px;
}

.case--study-logo-anatomy .main-img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.case--study-phone-mockup-box {
    width: 100%;
    height: 100%;
    display: flex;
}

.case--study-phone-mockup-box .fiture-img {
    width: 100%;
    height: 100%;
    display: block;
}


/* ===================================
   4
=================================== */

.sg-top-wrap {
    margin-bottom: 20px;
    border-bottom: 1.5px dashed;
    border-color: #F4A896;
}

.sg-section-title {
    display: inline-block;
    position: relative;
    padding-bottom: 12px;
}


/* .case--study-cps-com-aftervv1 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 6px;
    border-radius: 10px;
    background: linear-gradient(90deg, #F4A896 0%, #FFFFFF 100%);
} */

.sg-section-title {
    font-size: clamp(14px, 2.8vw, 32px);
    font-weight: 700;
    margin-bottom: 14px;
    margin-top: 4px;
}

.sg-palette {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 8px;
    margin-bottom: 32px;
}

.sg-swatch {}

.sg-swatch-box {
    width: 100%;
    max-height: 60px;
    aspect-ratio: 1/ 0.4;
    border-radius: 12px;
    margin-bottom: 6px;
}

.sg-swatch-name {
    font-size: clamp(12px, 1.0vw, 18px);
    font-weight: 600;
    color: #444;
    margin-bottom: 2px;
    white-space: nowrap;
}

.sg-swatch-hex {
    font-size: clamp(11px, 1.0vw, 16px);
    color: #999;
    white-space: nowrap;
}


/* ===================================
   6
=================================== */

.case--study-webscreen-quote-textvv1 {
    margin: 0;
    font-size: 40px;
    line-height: 1.4;
    font-weight: 400;
    color: #9a9a9a;
    max-width: 1287px;
    letter-spacing: 0.5px;
}


/* ===================================
   8
=================================== */

.case--study-logo-com-main .main-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* ===================================
   9
=================================== */

.case--study-features-main .case--study-logo-com-main {
    /* padding: 15px 0px; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    max-height: 768px;
    height: 100%;
}

.case--study-features-main .case--study-logo-com-main .main-img {
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
}


/* ===================================
   10
=================================== */


/* .application-vv1 {
    position: relative;
    width: 100%;
    object-fit: contain;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('/assets/images/nanylane-case-img/bg-application.png') center center / cover no-repeat;
}

.application-vv1::before {
    content: "";
    position: absolute;
    background: url('/assets/images/nanylane-case-img/application-bg.png') center center / cover no-repeat;
    opacity: 0.12;
    background: rgba(255, 255, 255, .55);
    z-index: 1;
}

.application-vv1::after {
    content: "";
    position: absolute;
    background: rgba(255, 255, 255, .55);
    z-index: 2;
}

.phn-modal-img {
    position: relative;
    z-index: 4;
    width: 100%;
    max-width: 400px;
    display: block;
    margin: 0 auto;
    filter: drop-shadow(0 10px 15px rgba(0, 0, 0, .15)) drop-shadow(0 25px 50px rgba(0, 0, 0, .18));
} */


/* .application-vv1 {
    position: relative;
    width: 100%;
    min-height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: url("../images/nanylane-case-img/bg-application.png") center center / cover no-repeat;
} */


/* White fade overlay */


/* Top fade */

.application-vv1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0) 100%);
}


/* Bottom fade */

.application-vv1::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    z-index: 1;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0) 100%);
}


/* Main phone */


/* .phn-modal-img {
    position: relative;
    z-index: 5;
    width: 100%;
    max-width: 400px;
    height: auto;
    display: block;
    filter: drop-shadow(0 20px 35px rgba(0, 0, 0, 0.12)) drop-shadow(0 35px 80px rgba(0, 0, 0, 0.18));
} */

.phn-modal-img {
    position: relative;
    z-index: 5;
    width: 100%;
    max-width: 320px;
    height: auto;
    display: block;
    filter: drop-shadow(0 8px 25px rgba(0, 0, 0, 0.2));
}


/* ===================================
   11
=================================== */


/* .device-scroll-wrapvv1 {
    width: 100%;
    max-width: 280px;
    margin: auto;
    position: relative;
    border-radius: 45px;
    background: url('/assets/images/nanylane-case-img/phn-bg-scr.png') no-repeat;
    background-size: cover;
    box-shadow: 0 20px 60px rgba(0, 0, 0, .08), 0 8px 24px rgba(0, 0, 0, .06);
} */

.device-scroll-wrap {
    /* aspect-ratio: 1212 / 700; */
    width: 100%;
    height: 700px;
    overflow: hidden;
    margin: auto;
    position: relative;
    /* box-shadow: 0 20px 60px rgba(0, 0, 0, .08), 0 8px 24px rgba(0, 0, 0, .06); */
}

.tab-frame-image {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    z-index: 2;
}

.device-screen-viewport {
    position: absolute;
    inset: 0;
    z-index: 1;
    overflow: hidden;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.scroll-bg-image {
    width: 100%;
    height: 100%;
    animation: scrollImg 50s linear infinite alternate;
    -webkit-animation: scrollImg 50s linear infinite alternate;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.device-tablet .scroll-bg-image {
    background: url('../images/nanylane-case-img/tab-bg-scr.png') top center / cover no-repeat;
}

.device-phone .scroll-bg-image {
    border-radius: 40px;
    background: url('../images/nanylane-case-img/phn-bg-scr.png') top center / cover no-repeat;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}


/* Pause animation when hovering the parent */

.device-scroll-wrap:hover .scroll-bg-image {
    animation-play-state: paused;
}

@keyframes scrollImg {
    from {
        background-position: center top;
    }
    to {
        background-position: center bottom;
    }
}

.device-scroll-img {
    width: 100%;
    height: auto;
    display: block;
}

.device-scroll-wrap.device-phone {
    height: 600px;
    padding: 2px;
    width: auto;
    margin: 0 0 0 40px;
}

.device-phone .device-screen-viewport {
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    padding: 6px 4px;
}


/* ===================================
   12
=================================== */

.case--study-cta-meta {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 40px;
}

.case--study-cta-project-id {
    white-space: nowrap;
}

.case--study-cta-main {
    background: #0e0e0e;
    position: relative;
    overflow: hidden;
    min-height: 410px;
}

.case--study-cta-inner {
    position: relative;
    z-index: 1;
    padding: 44px 0 0;
}

.case--study-cta-row {
    align-items: flex-end;
}

.case--study-cta-text-col {
    padding-bottom: 165px;
}

.case--study-cta-headline {
    font-size: clamp(36px, 6vw, 100px);
    font-weight: 500;
    line-height: 1.08;
    color: #ffffff;
    letter-spacing: -1px;
}

.case--study-cta-divider {
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.12);
    margin: 40px 0 40px;
}

.case--study-cta-link-line a:hover {
    text-decoration: underline;
}


/* .case--study-cta-phones-col {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
} */

.case--study-cta-phones {
    position: relative;
    width: 100%;
    /* max-width: 460px; */
    height: auto;
    /* margin-left: auto; */
}

.case--study-cta-phones .main-img {
    width: 100%;
    height: 100%;
}


/* ===================================
   responsive css start
=================================== */

@media (max-width: 1699px) {
    /* Auto scrolling image sec */
    .device-scroll-wrap {
        height: 600px;
    }
    .device-scroll-wrap.device-phone {
        height: 550px;
    }
    .case--study-cta-text-col {
        padding-bottom: 120px;
    }
}

@media (max-width: 1599px) {
    .case--study-inner-pdvv1 {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .case--study-banner-inner {
        height: 730px;
    }
    ul.case--study-type-innern li .case--study-cat.case-bg-wt {
        font-size: 16px;
    }
    .case--study-cta-text-col {
        padding-bottom: 100px;
    }
}

@media (max-width: 1499px) {
    ul.case--study-type-innern li .case--study-cat.case-bg-wt {
        font-size: 14px;
    }
    /* Auto scrolling image sec */
    .device-scroll-wrap {
        height: 550px;
    }
    .device-scroll-wrap.device-phone {
        height: 500px;
    }
    /* end */
    .case--study-about-quote-text {
        font-size: 38px;
    }
    .case--study-webscreen-quote-textvv1 {
        font-size: 32px;
    }
    .case--study-webscreen-quote-icon {
        margin-top: -8px;
    }
    .case--study-webscreen-avatar {
        width: 50px;
        height: 50px;
        margin-right: 12px;
    }
    .case--study-webscreen-testimonial-name {
        font-size: 22px;
    }
    .case--study-webscreen-testimonial-role {
        font-size: 14px;
    }
    .case--study-about-psi-num {
        width: 30px;
        height: 30px;
        font-size: 14px;
        margin-right: 8px;
    }
    .case--study-about-psi-title {
        font-size: 22px;
    }
    .case--study-about-psi-text {
        font-size: 16px;
    }
    .case--study-about-img-hero,
    .case--study-about-img-split {
        border-radius: 30px;
    }
    /* .case--study-brand-heading {
        font-size: 36px;
    } */
    .case--study-brand-desc {
        font-size: 14px;
    }
    .case--study-cta-text-col {
        padding-bottom: 85px;
    }
}

@media (max-width: 1399px) {
    .case--study-webscreen-quote-icon svg {
        width: 30px;
        height: 30px;
    }
    /* Auto scrolling image sec */
    .device-scroll-wrap {
        height: 500px;
    }
    .device-scroll-wrap.device-phone {
        height: 450px;
    }
    /* end */
    .case--study-cta-text-col {
        padding-bottom: 65px;
    }
}

@media (max-width: 1200px) {
    .case--study-banner-inner {
        height: 700px;
    }
    /* Auto scrolling image sec */
    .device-scroll-wrap.device-phone {
        margin: 0 0 0 auto;
    }
    .device-phone .scroll-bg-image {
        border-radius: 24px;
        -webkit-border-radius: 24px;
        -moz-border-radius: 24px;
        -ms-border-radius: 24px;
        -o-border-radius: 24px;
    }
    /* end */
}

@media (max-width: 1199px) {
    .case--study-features-main .case--study-logo-com-main {
        height: auto;
    }
    .case--study-banner-secn.banner-sec {
        padding-bottom: 0;
    }
    /* Auto scrolling image sec */
    .device-scroll-wrap {
        height: auto;
    }
    .device-scroll-wrap.device-phone {
        height: auto;
    }
    /* end */
}

@media (max-width: 991px) {
    .case--study-webscreen-quote-icon svg {
        width: 25px;
        height: 25px;
    }
    .case--study-about-img-row {
        margin-bottom: 10px;
    }
    .case--study-about-img-hero,
    .case--study-about-img-split {
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }
    .banner-center p br {
        display: none;
    }
    /* Auto scrolling image sec */
    .case--study-row-txtvv1 {
        margin-bottom: 40px;
    }
    /* end */
    .sg-palette {
        margin-bottom: 25px;
    }
    .case--study-about-row .cs-subhead {
        font-size: 20px;
    }
    .case--study-about-quote-text,
    .case--study-webscreen-quote-textvv1 {
        font-size: 30px;
    }
    .case--study-webscreen-testimonial-name {
        font-size: 18px;
    }
    .case--study-webscreen-testimonial-role {
        font-size: 12px;
    }
    .case--study-about-psi-text {
        font-size: 14px;
    }
    .case--study-about-psi-title {
        font-size: 18px;
    }
    .case--study-about-psi-num {
        width: 25px;
        height: 25px;
        font-size: 12px;
        margin-right: 8px;
    }
    .case--study-brand-desc {
        margin-left: 0px;
    }
    /* .case--study-brand-heading {
        font-size: 32px;
    } */
    .case--study-row-txtvv1 {
        margin-bottom: 40px;
    }
    .case--study-webscreen-avatar {
        width: 40px;
        height: 40px;
    }
    .case--study-webscreen-quote-wrap {
        margin-bottom: 30px;
        gap: 10px;
    }
    .case--study-about-psi-row {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .case--study-webscreen-quote-icon svg {
        width: 35px;
        height: 35px;
    }
    .sg-swatch-box {
        max-height: 50px;
        border-radius: 8px;
    }
    .case--study-cta-text-col {
        padding-bottom: 35px;
    }
    .case--study-cta-divider {
        margin: 20px 0;
    }
    .phn-modal-img {
        max-width: 280px;
    }
}

@media (max-width: 767px) {
    .case--study-inner-pdvv1 {
        padding-top: 35px;
        padding-bottom: 35px;
    }
    /* Auto scrolling image sec */
    .parent-mobile-frame {
        margin-top: 24px;
    }
    .device-scroll-wrap.device-phone {
        max-width: 380px;
        height: 750px;
        margin: 0 auto;
    }
    .device-phone .scroll-bg-image {
        animation-duration: 100s;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
    }
    .device-phone .device-screen-viewport {
        padding: 8px 8px;
    }
    /* end */
    .case--study-about-row .cs-subhead {
        font-size: 18px;
    }
    .case--study-about-quote-text,
    .case--study-webscreen-quote-textvv1 {
        font-size: 24px;
    }
    .case--study-webscreen-quote-wrap {
        gap: 8px;
        margin-bottom: 20px;
    }
    .case--study-webscreen-testimonial-name {
        font-size: 16px;
    }
    .row.case--study-about-psi-row {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .case--study-about-psi-item {
        margin-bottom: 10px;
    }
    .case--study-about-quote-text,
    .case--study-webscreen-quote-textvv1 {
        font-size: 20px;
    }
    .case--study-webscreen-content {
        margin: 0 auto;
    }
    .case--study-row-txtvv1 {
        margin-bottom: 25px;
    }
    .case--study-webscreen-quote-icon svg {
        width: 18px;
        height: 18px;
    }
    .case--study-logo-anatomy {
        margin-bottom: 40px;
    }
    .case--study-webscreen-img-row .mb-40 {
        margin-bottom: 20px !important;
    }
    .case--study-webscreen-img-row .mt-40 {
        margin-top: 20px !important;
    }
    .case--study-webscreen-img-row .mtb-40 {
        margin-bottom: 20px !important;
        margin-top: 20px !important;
    }
    .banner-sec.case-study-main-sec {
        min-height: calc(100vh - 140px);
    }
}

@media (max-width: 575px) {
    ul.case--study-type-innern li .case--study-cat.case-bg-wt {
        font-size: 12px;
    }
    /* Auto scrolling image sec */
    .device-scroll-wrap.device-phone {
        max-width: 300px;
        height: 540px;
    }
    /* end */
    /* .case--study-brand-heading {
        font-size: 28px;
    } */
    .case--study-social-main .case--study-brand-heading br {
        display: none;
    }
    .case--study-cta-divider {
        margin: 24px 0 18px;
    }
    .sg-palette {
        grid-template-columns: repeat(3, 1fr);
    }
    .phn-modal-img {
        max-width: 220px;
    }
}

@media (max-width: 480px) {
    .case--study-banner-inner {
        height: 590px;
    }
    ul.case--study-type-innern li .case--study-cat {
        padding: 4px 10px 6px;
    }
    .banner-center h1 {
        font-size: 30px;
        margin-bottom: 15px;
    }
    .case--study-banner-inner .case--study-nsw-main {
        position: absolute;
        bottom: 20px;
    }
    ul.case--study-type-innern li .case--study-cat {
        padding: 4px 10px 6px;
    }
    .case--study-webscreen-avatar {
        width: 35px;
        height: 35px;
        margin-right: 8px;
    }
    .case--study-webscreen-quote-icon {
        margin-top: -6px;
    }
}

@media (max-width: 380px) {
    .case--study-about-img-hero,
    .case--study-about-img-split {
        border-radius: 16px;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        -ms-border-radius: 16px;
        -o-border-radius: 16px;
    }
}

@media (max-width: 350px) {}